html, body {
    min-height: 100%;
}

@media (min-width: 1120px), (min-height: 630px) {
    body { background-size: auto; }
}


body {
	text-align: center;
	-webkit-user-select: none; /* Prevent highlight on double-click */
	-moz-user-select: none; /* Prevent highlight on double-click */
	-ms-user-select: none; /* Prevent highlight on double-click */
	user-select: none; /* Prevent highlight on double-click */
	cursor: default;
	background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.facedownCard {
    border-radius: 5px;
    height: 170px;
    width: 125px;
}

.gameboard {
	width: 100%;
	height: 100%;
}

.turn_announcer {
	position: absolute;
	width: 200px;
	height: 50px;
	font-size: 30px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	top: 100px;
	left: 150px;
}

.arrow-clockwise {
	height: 75px;
	width: 75px;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.arrow-counterclockwise {
	height: 75px;
	width: 75px;
}

label {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.player1 {
	float: left;
	position: absolute;
	top: 250px;
	left: 0px;
/*	width: 100em;
	height: 10em;*/
	/*-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);*/
}

.player2-cards {
	float: top;
	position: absolute;
	top: 55px;
	left: 500px;
/*	width: 100em;
	height: 10em;*/
}

.player2-control {
	float: top;
	position: absolute;
	top: 55px;
	left: 670px;
/*	width: 100em;
	height: 10em;*/
}
.player2-name {
	float: top;
	position: absolute;
	top: 85px;
	left: 670px;
/*	width: 100em;
	height: 10em;*/
}
.player3 {
	float: right;
	position: absolute;
	top: 250px;
	right: 10px;
/*	width: 100em;
	height: 10em;*/
	/*-ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);*/
}

.player4 {
	float: bottom;
	position: absolute;
	bottom: 5px;
	left: 100px;
/*	width: 100em;
	height: 10em;*/
}

.deck-cards {
  position: absolute;
  top: 305px;
  left: 500px;
  height: 170px;
  width: 125px;
}

.played-cards {
  position: absolute;
  top: 305px;
  left: 650px;
}

.card {
	width:50px;
	height:70px;
	position: absolute;
}


.CPUhand {

	width:100px;
	height:140px;

}