body {
	text-align: center;
}

.player1 {
	position: absolute;
	margin-top: 300px;
	margin-left: 50px;
/*	width: 100em;
	height: 10em;*/
	/*-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);*/
}

.player2 {
	position: absolute;
	margin-top: 85px;
	margin-left: 50px;
/*	width: 100em;
	height: 10em;*/
}

.player3 {
	position: absolute;
	margin-top: 85px;
	margin-left: 150px;
/*	width: 100em;
	height: 10em;*/
	/*-ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);*/
}

.player4 {
	position: absolute;
	margin-top: 300px;
	margin-left: 150px;
/*	width: 100em;
	height: 10em;*/
}

.deck-cards {
  position: absolute;
  margin-top: 300px;
  margin-left: 500px;
}

.played-cards {
  position: absolute;
  margin-top: 305px;
  margin-left: 650px;
}
/*
.card {
	width:80px;
	height:120px;
	position: absolute;
}*/
