body {
	background-image: url('https://static.squarespace.com/static/523b0ae9e4b002193859a930/t/5256f1c2e4b0b4a65ea013d2/1381429698367/152119339.jpg');
}

.main-block {
	margin-top: 100px;
}

#form-label {
	color: white;
	margin-left: 25%;
}

#usr {
	width: 50%;
	margin-left: 25%;
}

#submitButton {
	margin-left: 25%;
	margin-bottom: 10px;
}

#uno-image {
	margin-left: 33%;
}

.backgroundImage {
	border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 100px;
}