body {
	background-image: url('https://static.squarespace.com/static/523b0ae9e4b002193859a930/t/5256f1c2e4b0b4a65ea013d2/1381429698367/152119339.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.main-block {
	margin-top: 100px;
}

#form-label {
	color: white;
	margin-left: 25%;
}

#usr {
	width: 50%;
	margin-left: 25%;
}

#submitButton {
	margin-left: 25%;
	margin-bottom: 10px;
}

#uno-image {
	margin-left: 33%;
}

.backgroundImage {
	border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
    height: 100px;
}

.cardbackImage {
	border: 1px solid #ddd; /* Gray border */
    border-radius: 5px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 70px; /* Set a small width */
    height: 100px;
}




#infoContainer {
  width: 100%;
  height: 99.4%;
  padding: 3%;
  background-color: #EEEEEE;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

#rulesContainer {
  width: 100%;
  height: 83%;
  padding: 2.5%;
}

#rulesContainer .head {
  padding-top: 3%;
  color: #00A6F2;
  font-size: 110%;
  text-align: center;
}

#rulesContainer .paragraph {
  padding-top: 3.8%;
  font-size: 85%;
  line-height: 160%;
}

#specialCardsContainer {
  width: 100%;
  background-color: #FAFAFA;
  padding: 2.5%;
}

#specialCardsContainer .head {
  padding-top: 3%;
  color: #00D970;
  font-size: 110%;
  text-align: center;
}

#specialCardsContainer .paragraph {
	padding-top: 3.8%;
  font-size: 85%;
  line-height: 160%;
}

#specialCardsContainer .paragraphHead {
  font-size: 113%;
  font-weight: bold;
}

#scoring {
  width: 100%;
  padding: 2%;
  font-size: 110%;
}

#scoring .head {
  padding-top: 3%;
  color: #F21642;
  font-size: 110%;
  text-align: center;
}

#scoring .paragraph {
	padding-top: 3.8%;
  font-size: 85%;
  line-height: 160%;
}

#scoring .bullet {
  font-size: 85%;
  text-align: center;
  line-height: 160%;
}

#about {
  width: 100%;
  padding: 2%;
  font-size: 110%;
  background-color: #FAFAFA;
}

#about .head {
  padding-top: 3%;
  color: #f4c141;
  font-size: 110%;
  text-align: center;
}

#about .paragraph {
  padding-top: 3.8%;
  font-size: 85%;
  line-height: 160%;
}


a:link {
  color: #757575;
}

a:hover {
  color: #757575;
}

a:active {
  color: #757575;
}

a:visited {
  color: #757575;
}

#infoContainer > div:last-of-type {
  padding-bottom: 3%;
  clear: both;
}

